<div class=" content">
  <div class=" row">
    <div class=" col-7">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Cadastro de Morador</h2>
            </div>
          </div>
        </div> 
        <div class=" card-body">
          <div class="row" style="margin: 0.1em;">
            <div class=" col-10">
              <div class="form-group">
                <label> CPF </label>
                <div class="d-flex justify-content-start ">
                  <input id="cpf" name="cpf"  placeholder="CPF" label="CPF" class=" form-control col-10" type="text" mask="000.000.000-00"  />
                  <div class="col-md-4">
                    <button class="btn btn-success" data-target="#myModal2" (click)="myModal2.show()">
                      busca
                    </button>
                  </div>

                  <button placeholder="btnbuscar" class=" btn btn-primary btn-round btn-icon"
                    style="margin-left: 10px; height: 30px;">
                    <i class="tim-icons icon-zoom-split"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class=" row" style="margin: 0.1em;">
            <div class=" col-md-12 pr-md-1">
              <div class=" form-group">
                <label> Nome Completo </label>
                <input class=" form-control" type="text" value="" />
              </div>
            </div>
          </div>
          <div class=" row" style="margin: 0.1em;">
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Data Nasc. </label>
                <input class=" form-control" type="text" placeholder="00/00/00" value="" />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> Email </label>
                <input class=" form-control" placeholder="mike@email.com" type="email" />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> RG </label>
                <input class=" form-control" placeholder="" type="text" />
              </div>
            </div>
          </div>
          <div class=" row" style="margin: 0.1em;">
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Celular </label>
                <input class=" form-control" type="text" placeholder="(61) 9999-9999" value="" />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> Placa Automovel </label>
                <input class=" form-control" placeholder="mike@email.com" type="email" />
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class=" col-5">
      <h2 class=" card-title">Endereço</h2>
      <div class="form-group " style="margin-top: -20px;">
        <label for="inputState">Rua</label>
        <select id="inputState" class="form-control">
          <option selected>Selecione...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group ">
        <label for="inputState">Casa</label>
        <select id="inputState" class="form-control">
          <option selected>Selecione...</option>
          <option>...</option>
        </select>
      </div>
      <div class="row" style="margin: 0.1em;">
        <div class=" col-12" style=" margin-bottom: 30px; margin-top: 10px;">
          <h4 class=" card-title"> Informe o tipo de Morador </h4>
          <div class=" form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              Proprietario
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class=" form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              Morador
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class=" form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              Inquilino
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal" id="myModal2" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Busca</h3>
          <small> Morador ja cadastrado no condominio </small>
          
        </div>
       
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class=" ">
              <!-- <h3> Nome: <small class="text-muted">Fulano da silva sauro</small> </h3> -->
              <p class="">Nome: <strong>Fulano da Silva Sauro</strong></p>
              <p class="">Telefone: <strong>(61) 0000-0000</strong></p>
            </div>
            <!-- <div class=" ">
              <h3> Telefone: <small class="text-muted">(61) 0000-0000 </small> </h3>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Unidade Cadastrada:</strong>
            <div class="col-md-1 ">  </div>
            <div class="col-md-5 ">
              <p class="">Rua: <strong>M</strong></p>
              <p class="">Unidade: <strong>39</strong></p>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>